<!doctype html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link href="{% static 'output.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <title>Panel d'usuari</title>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-C9PTHE2BR0"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-C9PTHE2BR0');
        </script>
    </head>

    <body class="bg-caoba ">
        <div id="popUp"
            class="z-50 fixed inset-y-0 right-0 flex flex-col items-end	 m-6 max-h-90vh gap-6 overflow-y-auto text-right"
            style="margin-top: 5%;">

        </div>
        <header class="bg-grey-200 py-4 px-6 mb-4 flex flex-row bg-marron text-textWhite">
            <div id="welcomeMessage" class="text-left flex-1">
                <div class="text-center flex items-center">
                    <img src="{% static '/img/library.png' %}" alt="library" width="30px" class="mr-2">
                    <h1 id="nameApp"><a href="/">Biblioteca Mari Carmen Brito</a></h1>
                </div>
                <p>Benvingut, {{ user.email }}!</p>
                <p>Rol:
                    {% if user.is_superuser %}
                    Admin
                    {% elif user.admin %}
                    Bibliotecari
                    {% else %}
                    Usuari
                    {% endif %}
                </p>
            </div>

            <div class="searchHeader">
                <form id="searchElements" class="mx-decima" action="{% url 'search' %}" method="post" style="margin-top: 25px;">
                    {% csrf_token %}
                    <div class="relative search-container flex items-center">
                        <input type="search" id="searchItems" name="searchItems"
                            class="searchItems block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Buscar articles, exemple: El resplandor" />
                        <button type="submit"
                            class="search-button text-white bg-verde absolute end-2.5 bottom-2.5 bg-verde focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 ">Busca</button>
                    </div>
                </form>
            </div>
            
            <div id="options" class="text-right flex-1">
                <button id="changePassword" class="mx-2"><a href="{% url 'change_password' %}">Canvi de
                        Contrasenya</a></button>
                <button id="modifyProfile" class="mx-2" value="{{ user.id }}">
                    <a href="{% url 'edit_profile' user.id %}">Canviar dades</a>
                </button>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Tancar sessió</button>
                </form>
            </div>
        </header>
        <main>
            {% if user.admin %}
            <div class="dashboard-items flex justify-center ">
                <a href="{% url 'manage_users' %}"
                    class="admin-options bg-marron text-center text-5xl p-6 text-textWhite cursor-pointer"
                    id="gestionar-usuaris">
                    Gestionar usuaris
                </a>
                <a href="{% url 'import_users' %}"
                    class="admin-options bg-marron text-center text-5xl p-6 text-textWhite cursor-pointer"
                    id="gestionar-usuaris">
                    Importar usuaris
                </a>
            </div>

            {% endif %}
        </main>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet"
            href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
        <script src="{% static '/scripts/index.js' %}"></script>
        {% if error %}
        <script>
            createNotification("error", "{{ errorMsg }}");
        </script>
        {% endif %}
        {% if warning %}
        <script>
            createNotification("warning", "{{ errorMsg }}");
        </script>
        {% endif %}
        {% if info %}
        <script>
            createNotification("info", "{{ errorMsg }}");
        </script>
        {% endif %}
    </body>

</html>