<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'output.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="{% static '/scripts/index.js' %}"></script>
    <title>Editar Perfil</title>
</head>

<body class="bg-caoba">
    <header class="bg-marron py-2 flex justify-center items-center text-textWhite">
        <div class="text-center flex items-center">
            <img src="{% static '/img/library.png' %}" alt="library" width="30px" class="mr-2">
            <!-- Add a margin to the right of the image -->
            <p id="nameApp"><a href="/">Biblioteca PA</a></p>
        </div>
    </header>
    <div class="fade-in-text">
        <h1 class="text-5xl mt-lg text-textWhite items-center flex justify-center">Edit Profile</h1><br>
        <div class="flex justify-center w-full items-center h-full">
            <form method="post" enctype="multipart/form-data" class="bg-marron shadow-md rounded-lg px-8 pt-6 pb-8 mb-4 align-middle">
                {% csrf_token %}
                {% for field in form %}
                <p class="mb-4">
                    <label class="block text-textWhite text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {% for error in field.errors %}
                    <p class="text-textWhite text-xs italic">
                        {% if error %}
                        <script>
                            createNotification("error", "{{ error }}");
                        </script>
                        {% endif %}
                    </p>
                    {% endfor %}
                    {% endfor %}
                <br><br><button type="submit" class="m-8 bg-verde text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ">Save Changes</button>
            </form>
        </div>
    </div>

</body>

</html>