!
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link href="{% static 'output.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet"
            href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script src="{% static '/scripts/edit_profile.js' %}"></script>
        <script src="{% static '/scripts/index.js' %}"></script>
        <title>Crear Usuari</title>
    </head>

    <body class="bg-caoba">
        <header class="bg-marron py-2 flex justify-center items-center text-textWhite">
            <div class="text-center flex items-center">
                <img src="{% static '/img/library.png' %}" alt="library" width="30px" class="mr-2">
                <!-- Add a margin to the right of the image -->
                <p id="nameApp"><a href="/dashboard">Biblioteca MariCarmen</a></p>
            </div>
        </header>
        <div class="fade-in-text">
            <h1 class="text-5xl mt-lg text-textWhite items-center flex justify-center">Crear usuari</h1><br>
            <div class="flex justify-center w-full items-center text-textWhite">
                <form method="post" enctype="multipart/form-data"
                    class="bg-marron shadow-md rounded-lg px-8 pt-6 pb-8 mb-4 align-middle">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button type="submit"
                        class="m-8 bg-verde text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ">Importar</button>
                </form>
                <br>
            </div>
            <div class="flex justify-center w-full items-center">
                <textarea name="feedback" id="" cols="70" rows="10" readonly>
                    {% for message in feedback_messages %}
                        {{ message }}
                        {% if not forloop.last %}
                            
                        {% endif %}
                    {% endfor %}
                </textarea>
            </div>


    </body>

</html>