<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link href="{% static 'output.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet"
            href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <title>Prestec</title>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-C9PTHE2BR0"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-C9PTHE2BR0');
        </script>
    </head>

    <body class="bg-caoba">
        <header class="bg-marron py-2 flex justify-center items-center text-textWhite">
            <div class="text-center flex items-center">
                <img src="{% static '/img/library.png' %}" alt="library" width="30px" class="mr-2">
                <p id="nameApp"><a href="/dashboard">Biblioteca Mari Carmen Brito</a></p>
            </div>
        </header>

        <div id="loanResults">
            <h1 class="loanTitle text-5xl mt-decima text-textWhite ">Prestécs</h1>
            <button id="createLoan"
                class="mx-2 text-textWhite bg-verde focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center ">Solicitar
                Prestec</button>
            <div class="fade-in-text loanTable">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Usuari</th>
                            <th>Material</th>
                            <th>Data de Prestec</th>
                            <th>Data de Devolucio</th>
                            <th>Data de Lliurament</th>
                            <th>Estat</th>
                            <th>Retornar Llibre</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prestec in prestecs %}
                        <tr>
                            <td class="usuari">{{ prestec.usuari }}</td>
                            <td>{{ prestec.article.titol }}</td>
                            <td class="data_préstec">{{ prestec.data_préstec }}</td>
                            <td class="data_retorn">{{ prestec.data_retorn }}</td>
                            <td class="data_lliurament">
                                {% if not prestec.data_lliurament %}
                                No lliurat
                                {% else %}
                                {{ prestec.data_lliurament }}
                                {% endif %}
                            </td>
                            <td class="estat">
                                {% if prestec.retrasado %}
                                Retrasat
                                {% elif prestec.lliurament_retrasat %}
                                Lliurament Retrasat
                                {% elif prestec.data_lliurament %}
                                Retornat
                                {% else %}
                                En curs
                                {% endif %}
                            </td>
                            <td class="cambiarEstado">
                                {% if prestec.data_lliurament %}
                                <button id="cambiarEstado" disabled
                                    class=" cambiarEstado mx-2 text-textWhite bg-verde focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center"
                                    value="{{ prestec.id }}">Retornar</button>
                                {% else %}
                                <button id="cambiarEstado"
                                    class="cambiarEstado mx-2 text-textWhite bg-verde focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center"
                                    value="{{ prestec.id }}">Retornar</button>
                                {% endif %}
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <form method="post" action="" id="crearPrestecForm" class="">
                {% csrf_token %}
                {% for field in form %}
                <p class="mb-4">
                    <label class="block text-textWhite text-sm font-bold mb-2 text-center"
                        for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    <br><br>
                    {% for error in field.errors %}
                <p class="text-textWhite text-xs italic">
                    {% if error %}
                    <script>
                        createNotification("error", "{{ error }}");
                    </script>
                    {% endif %}
                </p>
                {% endfor %}
                </p>
                {% endfor %}
                <button type="submit"
                    class="text-textWhite bg-verde focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center">Afegir
                    Prestec</button>
                <button id="closeLoanForm"
                    class="text-textWhite focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center">Tancar</button>
            </form>

        </div>


    </body>
    <script>
        $("#createLoan").click(function () {
            $(".fade-in-text").css("filter", "blur(5px)"); $("#createLoan").css("filter", "blur(5px)");
            $("#crearPrestecForm").css("display", "flex");
        });

        $("#closeLoanForm").click(function () {
            $("#crearPrestecForm").css("display", "none");
            $(".fade-in-text").css("filter", "blur(0)"); $("#createLoan").css("filter", "blur(0)");
            $("#crearPrestecForm")[0].reset();
        });

        $(".cambiarEstado").click(function () {
            var id = $(this).val();
            console.log(id);
            $.ajax({
                url: "/api/returnLoan/" + id,
                type: "GET",
                success: function (data) {
                    location.reload();
                }
            });
        });

    </script>

</html>