<!-- password_reset_request.html -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Reset</title>
        {% load static %}
        <link href="{% static 'output.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <title>Index</title>
    </head>



    <body class="layout bg-caoba">

        <div id="popUp"
            class="z-50 fixed inset-y-0 right-0 flex flex-col items-end m-6 max-h-90vh gap-6 overflow-y-auto text-right"
            style="margin-top: 5%; margin-bottom: 5%;">
        </div>

        <header class="bg-marron py-2 flex justify-center items-center text-textWhite">
            <div class="text-center flex items-center">
                <img src="./img/library.png" alt="library" width="30px" class="mr-2">
                <!-- Add a margin to the right of the image -->
                <p id="nameApp">Biblioteca PA</p>
            </div>
        </header>

        <main>
            <div class="fade-in-text">
                <h1 class="text-5xl mt-lg text-textWhite items-center flex justify-center">Recuperar Contrasenya</h1>
                <br>
                <div class="flex justify-center w-full items-center h-full">
                    <form method="post" class="bg-marron shadow-md rounded-lg px-8 pt-6 pb-8 mb-4 align-middle">
                        {% csrf_token %}
                        {% for field in form %}
                        <p class="mb-4">
                            <label class="block text-textWhite text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                                {{ field.label }}
                            </label>
                            {{ field }}
                        </p>
                        {% endfor %}
                        <br>
                        <button type="submit"
                            class="m-8 bg-verde text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ">
                            Recuperar Contrasenya
                        </button>
                    </form>
                </div>

            </div>

        </main>

    </body>

</html>